# SmartPortal RT — Environment Variables Template
# Copy file ini menjadi .env.local dan isi nilainya
# JANGAN isi nilai asli di file ini!

VITE_PASSWORD_ADMIN=isi_password_admin
VITE_PASSWORD_BENDAHARA=isi_password_bendahara
VITE_PASSWORD_KOPERASI=isi_password_koperasi
VITE_PASSWORD_WARGA=isi_password_warga

VITE_API_URL=https://your-railway-url.up.railway.app

VITE_RT_NAME=RT 005
VITE_RW_NAME=RW 001
VITE_KELURAHAN=Tegalsari
